/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

h1.googlekeyword{
    font-family: Shadows Into Light, cursive;
    font-weight: 400;
    font-size: 55px;
    color: #fff;
    text-align: center;
}

#menu-main-menu-1 > li > a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px!important;
    padding-right: 7px!important;
}

header .uabb-creative-menu .uabb-has-submenu-container>a>span:after{
    content: "\f078";
    font-family: FontAwesome;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: top;
    margin: 0px 0 0 5px;
    font-weight: 400;
    float: right;
}

.gform_wrapper ul.gform_fields .gfield_time_ampm select{
    padding-left: 3px!important;
    padding-right: 0px!important;
}

.storename .direction a{
    color: #d92f32!important;
    font-family: Shadows Into Light, cursive;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    width: 220px;
    min-height: 45px;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #d92f32;
    border: 1px solid #d92f32;
    background: none;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}
.storename .direction a:hover {
    background: #d92f32;
}
.storename .direction a span{
    color: #d92f32;
}
.storename .map-container iframe{
    min-height: 600px!important;
}

.gform_wrapper .ginput_container_date .datepicker.medium{
    width: 100%!important;
}

.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
    padding-right: 16px;
}

@media(max-width:1024px){
    .fl-node-5ce41c7b61a7a .uabb-creative-menu a{
        letter-spacing: 0px!important;
        padding: 10px 5px!important;
        font-size:11px!important;
    }
}

@media(max-width:992px){
    #main-menu-wrap{
        display: none!important;
    }
}


@media(max-width:768px){
    button#responsive-menu-button{
        top: 50px!important;
    }

    .fl-page-bar .fl-page-bar-row .text-left{
        display: none!important;
    }
    .fl-page-bar .fl-page-bar-row .text-right{
        width: 100%!important;
        text-align: center;
    }

    .facet_filters{ position: static; width: auto; box-shadow: none;}
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: none;}
    .facetwp-per-page, .facetwp-pager{ text-align: right !important;}
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: left !important;}

}

 @media (max-width:767px){
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: block;}
    .facetwp-per-page, .facetwp-pager{ float: none;}
    .facetwp-per-page, .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: center !important;}
 }

 